
/*------------------------------------
	common
------------------------------------*/

/*frame*/

@import "frame_base_style.css";
@import "frame_base_style_winie.css";
@import "frame_bread_crumb.css";
@import "global_navi_area.css";
@import "frame_local_navi.css";
@import "frame_layout.css";
@import "frame_child_tmpl.css";

/*components*/

@import "mod_heading.css";
@import "mod_text.css";
@import "mod_list.css";
@import "mod_table.css";
@import "mod_image.css";
@import "mod_form.css";
@import "mod_search.css";
@import "mod_related_info.css";
@import "mod_indexblock.css";
@import "mod_other.css";

@import "frame_country_website.css";
@import "mod_button.css";


/*other*/

@import "color.css";




/*
common.css
*/

body {
	background-color: #fcfcfc;
	text-align: center;
	margin: 0;
	padding: 0;
}

html, {
	background-color: #fff;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
	font-size:12px;
	font-family:Arial;
	-webkit-text-size-adjust:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

table {
	border-collapse:collapse;
}

img {
	border-style: none;
	padding-right: 4px;
}

a {
	outline:none;
	text-decoration:none;
	hide-focus:expression(this.hideFocus=true);
}

a:hover {
	text-decoration:underline;
}

:focus {
	outline:none;
}

address,
caption,
cite,
code,
dfn,
th,
var {
	font-style:normal;
	font-weight:normal;
}

em {
	font-weight: bold;
	font-style:normal;
}
li {
	list-style:none;
}

caption,
th {
	text-align:left;
}

q:before,
q:after {
	content:'';
}

input,
button,
textarea,
select {
	font-family:inherit;
}

html {
	overflow-y:scroll;
}

textarea {
resize:none;
}
.arial {
	font-family:Arial;
}

.clearfix:after {
	content:'\20';
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

.clearfix {
	display:inline-block;
}

html[xmlns] .clearfix {
	display:block;
}

* html .clearfix {
	height:1%;
}

header,
nav,
aside,
menu,
figure,
article,
time,
footer {
	display:block;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

/* Pseudo */
::selection {
	background-color: #06c;
	color: #fff;
}

/* omron-ia */
div.omron-ia {
	width: 954px;
	margin: 0 auto;
	position: relative;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background-color: #fff;
}

/* non-visual */
.non-visual {
	width: 1px;
	height: 1px;
	font-size: 1px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: -10000px;
	color: #0055c4;
	background: #0055c4;
}



.Textsm {  font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 11px; color: #484E54;}

.TextsmUnbold {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #484E54;}

/* Horizontal Tabbed Panels */
.TabbedPanels {
	margin: 0px;
	padding: 0px;
	clear: both;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}
.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}
.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 0px;
	font: bold 0.7em sans-serif;
	background-color: #DDD;
	list-style: none;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}
.TabbedPanelsTabHover {
	background-color: #CCC;
}
.TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: 1px solid #EEE;
}
.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}
.TabbedPanelsContentGroup {
	clear: both;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	background-color: #FFF;
}
.TabbedPanelsContent {
	padding: 4px;
}
.TabbedPanelsContentVisible {
}
/* Vertical Tabbed Panels */
.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #EEE;
	position: relative;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}
.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}
.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999;
}
.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	padding: 0px;
	width: 30em;
	height: 20em;
}
#blanket {
background-color:#111;
opacity: 0.65;
filter:alpha(opacity=65);
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}

#popUpDiv {
position:absolute;
background-color:#eeeeee;
width:300px;
height:300px;
z-index: 9002;
}