/* topmenu.css */

div.global-navi {
	background: #ccc url(images/global_navi_bg_01.gif) left bottom repeat-x;
}

.topMenu {
	list-style-type: none;
	height: 32px;
	margin: 0;
	padding: 0;
	margin-left: 18px;
	padding-left: 1px;
	padding-bottom: 4px;
	background: url(images/global_navi_line_01.gif) 0% 32% no-repeat;
	font-weight: bold;
}

/*
.topMenu{
	list-style-type: none;
	height: 29px;
	margin: 0;
	padding: 0;
	padding-bottom: 8px;	
	background: #ccc url(images/global_navi_bg_01.gif) left bottom repeat-x;
	font-weight: bold;
}
*/

.topMenu li{
	position: relative;
	float: left;
#	margin: 0;
#	padding: 0;
	text-align: center;
	background: url(images/global_navi_line_01.gif) right no-repeat;
	padding-right: 1px;
	z-index: 12;
}

.topMenu li a {
	display: block;
	margin: 0;
	color: #555555;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
/*	background-color: #ccc;	*/
	padding: 8px 13px;
}

.topMenu li p {
	display: block;
	margin: 0;
	color: #555555;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
/*	background-color: #ccc;	*/
	padding: 8px 13px;
}


#current-navi a{
	display: block;
	margin: 0;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
	background-color: #808080;
}

#current-navi p{
	display: block;
	margin: 0;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
	background-color: #808080;
}

#current-navi ul li a {
	color: #555555;
	text-decoration: none;
	font-weight: normal;
}

#current-navi ul li:hover > a{
	background: url(images/global_navi_back_on.gif) top repeat-x;
	text-decoration: underline;
}

.topMenu li:hover > a{
	background: #AAAAAA;
	text-decoration: underline;
}

.topMenu li:hover > p{
	background: #AAAAAA;
	text-decoration: underline;
}

.topMenu li ul{
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
}

.topMenu li ul li{
	overflow: hidden;
	width: 100%;
	height: 0;
	color: #fff;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
	background: none;
}

.topMenu li ul li a{
	padding: 13px 15px;
	background: url(images/global_navi_back_off.gif) top repeat-x;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
}

.topMenu li:hover ul li{
	overflow: visible;
	height: 38px;
/*	width: 164px;	*/
	width: 195px;
}

.topMenu li ul li:hover > a{
	background: url(images/global_navi_back_on.gif) top repeat-x;
	text-decoration: underline;
}

