
/*------------------------------------
	index-listA01,
	index-listA02,
	index-listA03
------------------------------------*/

div.index-listA01,
div.index-listA02,
div.index-listA03{
	margin-top:1.49em;/*18px*/
	font-weight:bold;
	}

div.index-listA01 ul,
div.index-listA03 ul{
	list-style-type:none;
	_overflow:visible;
	_height:1px;
	zoom:1;
	/*\*//*/
	overflow:hidden;
	/**/
	width:450px;
	}

div.index-listA03 ul{
	width:650px;
	margin-bottom:18px;
	}

div.index-listA02 ul{
	list-style-type:none;
	}

div.index-listA01 ul:after,
div.index-listA03 ul:after{
	content:"."; 
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}

div.index-listA01 ul li,
div.index-listA03 ul li{
	margin-top:0.83em;/*10px*/
	background-color:#ebebeb;
	border:1px solid #ccc;
	width:214px;
	float:left;
	}

div.index-listA03 ul li{
	width:165px;
	margin-right:10px;
	}

div.index-listA03 ul li.noneFrame{
	margin-top:0.2em;
	background-color:#fff;
	border:1px solid #fff;
	width:88px;
	}

div.index-listA03 ul li.stay{
	background-color:#c6c6c6;
	border:1px solid #c6c6c6;
	}

div.index-listA02 ul li{
	margin-top:0.83em;/*10px*/
	background-color:#ebebeb;
	border:1px solid #ccc;
	}

div.index-listA01 ul li.odd{
	margin-right:18px;
	}

div.index-listA03 ul li.stay span,
div.index-listA01 ul a,
div.index-listA02 ul a,
div.index-listA03 ul a{
	display:block;
	padding: 0.5em 9px 0.5em 16px;
	text-indent: -6px;
	zoom:1;
	_height:1;
	}


/*anchor*/

div.index-listA01 a:link,
div.index-listA03 a:link{
	text-decoration:none;
	color:#555;
	}
div.index-listA01 a:visited,
div.index-listA03 a:visited{
	text-decoration:none;
	color:#808080;
	}
div.index-listA01 a:link:hover,
div.index-listA01 a:visited:hover,
div.index-listA01 a:link:active,
div.index-listA01 a:visited:active,
div.index-listA01 a:link:focus,
div.index-listA01 a:visited:focus,
div.index-listA03 a:link:hover,
div.index-listA03 a:visited:hover,
div.index-listA03 a:link:active,
div.index-listA03 a:visited:active,
div.index-listA03 a:link:focus,
div.index-listA03 a:visited:focus{
	text-decoration:underline;
	color:#3b3b3b;
	}

div.index-listA01 a:link,
div.index-listA03 a:link{
	_text-decoration:none;
	}
div.index-listA01 a:visited,
div.index-listA03 a:visited{
	_text-decoration:none;
	}
div.index-listA01 a:hover,
div.index-listA01 a:active,
div.index-listA03 a:hover,
div.index-listA03 a:active{
	_text-decoration:underline;
	}


/*anchor*/

div.index-listA02 a:link{
	text-decoration:none;
	color:#555;
	}
div.index-listA02 a:visited{
	text-decoration:none;
	color:#808080;
	}
div.index-listA02 a:link:hover,
div.index-listA02 a:visited:hover,
div.index-listA02 a:link:active,
div.index-listA02 a:visited:active,
div.index-listA02 a:link:focus,
div.index-listA02 a:visited:focus{
	text-decoration:underline;
	color:#3b3b3b;
	}

div.index-listA02 a:link{
	_text-decoration:none;
	}
div.index-listA02 a:visited{
	_text-decoration:none;
	}
div.index-listA02 a:hover,
div.index-listA02 a:active{
	_text-decoration:underline;
	}


/*------------------------------------
	index-blockA01
	(Pro_in)
------------------------------------*/
div.index-blockA01{
	margin: 1.5em 0 0;
	_margin-top: 0em;
	padding: 0;
	zoom: 1;
	}

div.index-blockA01:after{
	display: block;
	clear: both;
	content: ".";
	visibility: hidden;
	height: 0;
	line-height: 0;
	}

/*group*/

div.index-blockA01-group{
	float: left;
	margin: 1.5em -18px 0 0;
	padding: 0;
	background: url(/common/img/index_blockA01_bg_01.gif) 0 100% repeat-x;
	zoom: 1;
	}

div.index-blockA01 div.short{
	background: url(/common/img/index_blockA01_bg_02.gif) 100% 100% no-repeat;
	}

div.index-blockA01-group:first-child{
	margin-top: 0;
	}

div.index-blockA01-group:after{
	display: block;
	clear: both;
	content: ".";
	visibility: hidden;
	height: 0;
	line-height: 0;
	}

/*unit*/
div.index-blockA01-unit{
	float: left;
	margin: 0;
	width: 234px;
	}

div.index-blockA01-group div.closed{
	background: url(/common/img/index_blockA01_bg_01.gif) 0 100% no-repeat;
	}

div.index-blockA01-unit h2{
	margin: 0 19px 0 1px;
	padding: 0;
	font-weight: bold;
	line-height: 1.42;
	}

div.index-blockA01-unit h2 a{
	display: block;
	padding: 0.5em 9px 0.5em 16px;
	text-indent: -6px;
	border-top: 1px solid #ccc;
	border-bottom: 3px solid #0055c4;
	font-weight: bold;
	}


/*anchor*/

div.index-blockA01-unit h2 a:link{
	text-decoration:none;
	color:#555;
	}
div.index-blockA01-unit h2 a:visited{
	text-decoration:none;
	color:#808080;
	}
div.index-blockA01-unit h2 a:link:hover,
div.index-blockA01-unit h2 a:visited:hover,
div.index-blockA01-unit h2 a:link:active,
div.index-blockA01-unit h2 a:visited:active,
div.index-blockA01-unit h2 a:link:focus,
div.index-blockA01-unit h2 a:visited:focus{
	text-decoration:underline;
	color:#3b3b3b;
	}

div.index-blockA01-unit h2 a:link{
	_text-decoration:none;
	}
div.index-blockA01-unit h2 a:visited{
	_text-decoration:none;
	}
div.index-blockA01-unit h2 a:hover,
div.index-blockA01-unit h2 a:active{
	_text-decoration:underline;
	}

div.index-blockA01-unit div{
	margin: 0 18px 0 0;
	padding: 0 1px;
	}

div.index-blockA01-unit div.index-description p{
	margin: 0.27em 9px 0.82em;
	font-size: 92%;
	line-height: 1.36;
	}
div.index-blockA01-unit div.index-description div.image{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	}
div.index-blockA01-unit div.index-list{
	padding: 0 10px 0.66em;
	border-top: 1px solid #cccccc;
	}
div.index-blockA01-unit div.index-list ul.link-listA01{
	margin: 0.66em 0 0;
	}
div.index-blockA01-unit div.index-list ul.link-listA01 li{
	margin: 0.63em 0 0;
	}

div.index-blockA01-unit div.link-pickup-block{
	padding: 0 10px 0.66em;
	border-top: 1px solid #cccccc;
	}
div.index-blockA01-unit div.link-pickup-block  dl dt{
	font-weight: bold;
	margin: 0.7em 0 0 0;
	padding: 0 0 0 0;
	font-size:97%;
	}

div.index-blockA01-unit div.link-pickup-block ul.link-listA01{
	margin: 0 0 3px 0;
	}

div.index-blockA01-unit div.link-pickup-block ul.link-listA01 li{
	margin-top:0.4em;
	font-size:97%;
	}




/*------------------------------------
	index-blockB01 (216px),
	index-blockB02 (333px),
	index-blockB03 (450px)
------------------------------------*/

div.index-blockB01,
div.index-blockB02{
	margin: 1.5em 0 0;
	_margin-top: 0em;
	padding: 0;
	zoom: 1;
	}

div.index-blockB01:after,
div.index-blockB02:after{
	display: block;
	clear: both;
	content: ".";
	visibility: hidden;
	height: 0;
	line-height: 0;
	}


/*group*/

div.index-blockB01-group,
div.index-blockB02-group{
	float: left;
	margin: 1.5em -18px 0 0;
	padding: 0;
	background: url(/img/index_blockA01_bg_01.gif) 0 100% repeat-x;
	zoom: 1;
	}

div.index-blockB02-group{
	background: url(/img/index_blockA02_bg_01.gif) 0 100% repeat-x;
	}

div.index-blockB01-group:first-child,
div.index-blockB02-group:first-child{
	margin-top: 0;
	}

div.index-blockB01-group:after,
div.index-blockB02-group:after{
	display: block;
	clear: both;
	content: ".";
	visibility: hidden;
	height: 0;
	line-height: 0;
	}

/*unit*/

div.index-blockB01-unit,
div.index-blockB02-unit{
	float: left;
	margin: 0;
	padding: 0 0 1px;
	width: 234px;
/*\*/
	_overflow: hidden;
/**/
	}

div.index-blockB02-unit{
	width: 351px;
	}

div.A01type{
	width: 684px;
	float: left;
	}

div.A01type div.A01odd{
	float: left;
	width: 333px;
	}

div.A01type div.A01even{
	float: right;
	width: 333px;
	}

div.index-blockB03-unit{
	margin-top: 1.5em;
	padding: 0 0 0.9em;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	zoom: 1;
	width: 448px;
	}

div.index-blockB01-unit .index-title,
div.index-blockB02-unit .index-title,
div.index-blockB03-unit .index-title{
	position: relative;
	margin: 0 19px 0 1px;
	padding: 0;
	border-top: 1px solid #cccccc;
	}


div.index-blockB03-unit .index-title{
	margin:0;
	}


div.index-blockB01-unit .index-title a,
div.index-blockB02-unit .index-title a,
div.index-blockB03-unit .index-title a{
	display: block;
	margin: 0;
	padding: 0.5em 9px 0.5em 16px;
	text-indent: -6px;
	font-weight: bold;
	line-height: 1.42;
	background: #ebebeb;
	zoom: 1;
	_position: relative;
	_height: 1px;
	}

div.index-blockB01-unit .index-title a.none-link,
div.index-blockB02-unit .index-title a.none-link,
div.index-blockB03-unit .index-title a.none-link{
	padding-left: 9px;
	text-indent: 0;
	}

div.index-blockB01-unit .index-title a img.image,
div.index-blockB02-unit .index-title a img.image,
div.index-blockB03-unit .index-title a img.image{
	display: block;
	position: absolute;
	left: 9px;
	bottom: -50px;
	margin-bottom: -0.9em;
	zoom: 1;
	}

div.index-blockB02 div.large .index-title a img.image,
div.index-blockB03 div.large .index-title a img.image{
	bottom: -80px;
	}


/*anchor*/

div.index-blockB01-unit .index-title a:link,
div.index-blockB02-unit .index-title a:link,
div.index-blockB03-unit .index-title a:link{
	text-decoration:none;
	color:#555;
	}
div.index-blockB01-unit .index-title a:visited,
div.index-blockB02-unit .index-title a:visited,
div.index-blockB03-unit .index-title a:visited{
	text-decoration:none;
	color:#808080;
	}
div.index-blockB01-unit .index-title a:link:hover,
div.index-blockB01-unit .index-title a:visited:hover,
div.index-blockB01-unit .index-title a:link:active,
div.index-blockB01-unit .index-title a:visited:active,
div.index-blockB01-unit .index-title a:link:focus,
div.index-blockB01-unit .index-title a:visited:focus,
div.index-blockB02-unit .index-title a:link:hover,
div.index-blockB02-unit .index-title a:visited:hover,
div.index-blockB02-unit .index-title a:link:active,
div.index-blockB02-unit .index-title a:visited:active,
div.index-blockB02-unit .index-title a:link:focus,
div.index-blockB02-unit .index-title a:visited:focus,
div.index-blockB03-unit .index-title a:link:hover,
div.index-blockB03-unit .index-title a:visited:hover,
div.index-blockB03-unit .index-title a:link:active,
div.index-blockB03-unit .index-title a:visited:active,
div.index-blockB03-unit .index-title a:link:focus,
div.index-blockB03-unit .index-title a:visited:focus{
	text-decoration:underline;
	color:#3b3b3b;
	}

div.index-blockB01-unit .index-title a:link,
div.index-blockB02-unit .index-title a:link,
div.index-blockB03-unit .index-title a:link{
	_text-decoration:none;
	}
div.index-blockB01-unit .index-title a:visited,
div.index-blockB02-unit .index-title a:visited,
div.index-blockB03-unit .index-title a:visited{
	_text-decoration:none;
	}
div.index-blockB01-unit .index-title a:hover,
div.index-blockB01-unit .index-title a:active,
div.index-blockB02-unit .index-title a:hover,
div.index-blockB02-unit .index-title a:active,
div.index-blockB03-unit .index-title a:hover,
div.index-blockB04-unit .index-title a:active{
	_text-decoration:underline;
	}

/*index-description*/

div.index-blockB01-unit div.index-description,
div.index-blockB02-unit div.index-description,
div.index-blockB03-unit div.index-description{
	display:block;
	padding-bottom: 0.9em;
	margin-left:70px;
	margin-right:28px;
	min-height: 50px;
	*min-height: 60px;
	_height: 60px;
	}

div.index-blockB03-unit div.index-description{
	margin-right:10px;
	}

div.index-blockB01 div.none-pic div.index-description,
div.index-blockB02 div.none-pic div.index-description,
div.index-blockB03 div.none-pic div.index-description{
	margin-left:10px;
	}

div.index-blockB02 div.large div.index-description,
div.index-blockB03 div.large div.index-description{
	margin-left:180px;
	min-height: 80px;
	*min-height: 90px;
	_height: 90px;
	}



div.index-blockB01-unit div.index-description p,
div.index-blockB02-unit div.index-description p,
div.index-blockB03-unit div.index-description p{
	display:block;
	margin-top:0.9em;/*10px*/
	font-size:92%;
	}


/*sub-index-description*/

div.index-blockB01-unit div.index-description div.sub-index-description,
div.index-blockB02-unit div.index-description div.sub-index-description,
div.index-blockB03-unit div.index-description div.sub-index-description{
	background:url(/common/img/line_01.gif) 0 0 repeat-x;
	margin-top: 0.9em;
	padding-top:0.5em;
	}


/*link-list-block*/

div.index-blockB01-unit div.link-list-block,
div.index-blockB02-unit div.link-list-block,
div.index-blockB03-unit div.link-list-block{
	border-top: 1px solid #cccccc;
	margin: 0 19px 0 1px;
	padding-bottom: 0.9em;
	_padding-top:0.9em;
	padding-left:10px;
	padding-right:10px;
	}

div.index-blockB03-unit div.link-list-block{
	margin: 0.9em 0 0 0;
	}

div.index-blockB01-unit div.sub-link-list-block,
div.index-blockB02-unit div.sub-link-list-block,
div.index-blockB03-unit div.sub-link-list-block{
	background:url(/common/img/line_01.gif) 0 0 repeat-x;
	margin: 0.9em 0 0 0;
	padding-top:0.9em;
	font-size:83%;
	*font-size:75%;
	}

div.index-blockB01-unit div.link-list-block ul.link-listA01,
div.index-blockB02-unit div.link-list-block ul.link-listA01,
div.index-blockB03-unit div.link-list-block ul.link-listA01{
	background:url(/common/img/line_01.gif) 0 0 repeat-x;
	margin-top:0.9em;
	padding-top:0.3em;
	}

div.index-blockB01-unit div.link-list-block ul.link-listA01:first-child,
div.index-blockB01-unit div.link-list-block ul.first-child,
div.index-blockB02-unit div.link-list-block ul.link-listA01:first-child,
div.index-blockB02-unit div.link-list-block ul.first-child,
div.index-blockB03-unit div.link-list-block ul.link-listA01:first-child,
div.index-blockB03-unit div.link-list-block ul.first-child{
	background:none;
	margin-top:0;
	padding-top:0;
	}


div.index-blockB01-unit div.link-list-block/**/{
	_padding-top:0;
	}

div.index-blockB02-unit div.link-list-block/**/{
	_padding-top:0;
	}

div.index-blockB03-unit div.link-list-block/**/{
	_padding-top:0;
	}




/*link-pickup-block*/
div.index-blockB01-unit div.link-pickup-block,
div.index-blockB02-unit div.link-pickup-block,
div.index-blockB03-unit div.link-pickup-block{
	border-top: 1px solid #cccccc;
	margin: 0 19px 0 1px;
	padding-bottom: 0.9em;
	padding-left:10px;
	padding-right:10px;
	}

div.index-blockB03-unit div.link-pickup-block{
	margin: 0.9em 0 0 0;
	}

div.index-blockB01-unit div.link-pickup-block dl dt,
div.index-blockB02-unit div.link-pickup-block dl dt,
div.index-blockB03-unit div.link-pickup-block dl dt{
	font-weight: bold;
	margin: 0.7em 0 0 0;
	padding: 0 0 0 0;
	font-size:97%;
	}

div.index-blockB01-unit div.link-pickup-block ul.link-listA01 li,
div.index-blockB02-unit div.link-pickup-block ul.link-listA01 li,
div.index-blockB03-unit div.link-pickup-block ul.link-listA01 li{
	margin-top:0.4em;/*10px*/
	font-size:97%;
	}




/*columnA01*/
div.index-blockB01-unit div.columnA01,
div.index-blockB02-unit div.columnA01,
div.index-blockB03-unit div.columnA01{
	margin: 2.1em 28px 0 10px;
	font-size:83%;
	*font-size:75%;
	}

div.index-blockB03-unit div.columnA01{
	margin: 2.1em 9px 0 9px;
	}

div.index-blockB01-unit div.columnA01 .lvl01,
div.index-blockB02-unit div.columnA01 .lvl01,
div.index-blockB03-unit div.columnA01 .lvl01,
div.index-blockB01-unit div.columnA01 .lvl01-link,
div.index-blockB02-unit div.columnA01 .lvl01-link,
div.index-blockB03-unit div.columnA01 .lvl01-link{
	padding-top:0.6em;
	font-weight:normal;
	}



/*------------------------------------
	index-blockC01
------------------------------------*/

div.index-blockC01 {
	margin: 0 -8px 0 0;
	padding: 0 0 1px;
	width: 692px;
	zoom: 1;
	background: url(/common/img/index_blockC01_bg_01.gif) 0 100% repeat-x;
/*\*//*/
	display: inline-block;
/**/
	}
div.index-blockC01:after{
	display: block;
	clear: both;
	content: ".";
	visibility: hidden;
	height: 0;
	line-height: 0;
	}

/*group*/

div.index-blockC01 div.index-blockC01-group {
	float: left;
	width: 173px;
	background-color: #ffffff;
	}


/*unit*/

div.index-blockC01-unit {
	margin: 0.67em 0 0;
	padding: 0;
	width: 163px;
	border: 1px solid #cccccc;
	}

div.index-blockC01-group div.last-child {
	border-bottom: 0 none;
	}

div.index-blockC01-unit .index-title {
	margin: 0;
	padding: 0;
	}

div.index-blockC01-unit .index-title a{
	display: block;
	margin: 0;
	padding: 0.25em 9px 0.25em 15px;
	text-indent: -6px;
	background: #ebebeb;
	color: #555;
	line-height: 1.42;
	font-weight: bold;
	zoom: 1;
	_height: 1px;
	}

div.index-blockC01-unit .index-title a.none-link{
	padding-left: 9px;
	text-indent: 0;
	}

div.index-blockC01 div.index-blockC01-group div.index-blockC01-unit div.index-body {
	margin: 0;
	padding: 0.28em 9px 0.82em;
	font-size: 92%;
	line-height: 1.37;
	}

div.index-blockC01-unit div.index-body p {
	margin-top: 0.46em;
	}

div.index-blockC01-unit div.index-body ul.link-listA01 {
	}

div.index-blockC01-unit div.index-body ul.link-listA01 li {
	margin-top: 0.46em;
	}



/*anchor*/

div.index-blockC01-unit .index-title a:link{
	text-decoration:none;
	color:#555;
	}
div.index-blockC01-unit .index-title a:visited{
	text-decoration:none;
	color:#808080;
	}
div.index-blockC01-unit .index-title a:link:hover,
div.index-blockC01-unit .index-title a:visited:hover,
div.index-blockC01-unit .index-title a:link:active,
div.index-blockC01-unit .index-title a:visited:active,
div.index-blockC01-unit .index-title a:link:focus,
div.index-blockC01-unit .index-title a:visited:focus{
	text-decoration:underline;
	color:#3b3b3b;
	}


div.index-blockC01-unit .index-title a:link{
	_text-decoration:none;
	}
div.index-blockC01-unit .index-title a:visited{
	_text-decoration:none;
	}
div.index-blockC01-unit .index-title a:hover,
div.index-blockC01-unit .index-title a:active{
	_text-decoration:underline;
	}





/*------------------------------------
	family-indexA01,
	family-indexA02
------------------------------------*/

div.family-indexA01{
	margin: 1.5em 0 0;
	padding: 1px 0 0;
	background: url(/common/img/family_indexA01_bg_01.gif) 0 0 repeat-x;
	}

div.family-indexA02{
	margin: 1.5em 0 0;
	}

div.tabpanel-unit div.family-indexA01{
	margin-top:0.83em;/*10px*/
	}

/*unit*/

div.family-indexA01-unit{
	position: relative;
	margin: 0;
	padding: 0.83em 0 0.92em;
	min-height: 80px;
	_height: 100px;
	_he\ight: 80px;
		background-image: url(/common/img/family_indexA01_bg_01.gif);
		background-repeat: repeat-x;
		background-position: 0 100%;
	zoom: 1;
	}

dl.family-indexA02-unit{
	position: relative;
	margin-top: 0.92em;
	padding-top: 0.83em;
	min-height: 80px;
	_height: 100px;
	_he\ight: 80px;
	background: url(/common/img/family_indexA01_bg_01.gif) 0 top repeat-x;
	zoom: 1;
	}


div.family-indexA02 dl.first-child,
div.family-indexA02 dl.family-indexA02-unit:first-child{
	margin-top: 0;
	padding-top: 0;
	background:none;
	}




div.family-indexA01-unit h3,
dl.family-indexA02-unit dt{
	margin: 0 0 0 90px;
	padding: 0;
	}
div.family-indexA01-unit h3 span.type,
dl.family-indexA02-unit dt span.type{
	font-size: 92%;
	line-height: 1.42;
	font-weight: normal;
	}


/*anchor*/

div.family-indexA01-unit h3 a:link{
	text-decoration:none;
	}
div.family-indexA01-unit h3 a:visited{
	text-decoration:none;
	}
div.family-indexA01-unit h3 a:link:hover,
div.family-indexA01-unit h3 a:visited:hover,
div.family-indexA01-unit h3 a:link:active,
div.family-indexA01-unit h3 a:visited:active,
div.family-indexA01-unit h3 a:link:focus,
div.family-indexA01-unit h3 a:visited:focus{
	text-decoration:underline;
	}


div.family-indexA01-unit h3 a:link{
	_text-decoration:none;
	}
div.family-indexA01-unit h3 a:visited{
	_text-decoration:none;
	}
div.family-indexA01-unit h3 a:hover,
div.family-indexA01-unit h3 a:active{
	_text-decoration:underline;
	}

/*anchor*/

dl.family-indexA02-unit dt a:link{
	text-decoration:none;
	}
dl.family-indexA02-unit dt a:visited{
	text-decoration:none;
	}
dl.family-indexA02-unit dt a:link:hover,
dl.family-indexA02-unit dt a:visited:hover,
dl.family-indexA02-unit dt a:link:active,
dl.family-indexA02-unit dt a:visited:active,
dl.family-indexA02-unit dt a:link:focus,
dl.family-indexA02-unit dt a:visited:focus{
	text-decoration:underline;
	}


dl.family-indexA02-unit dt a:link{
	_text-decoration:none;
	}
dl.family-indexA02-unit dt a:visited{
	_text-decoration:none;
	}
dl.family-indexA02-unit dt a:hover,
dl.family-indexA02-unit dt a:active{
	_text-decoration:underline;
	}




div.family-indexA01-unit h3 span.pic img,
dl.family-indexA02-unit dt span.pic img{
	position: absolute;
	top: 0.83em;
	left: 0;
	margin: 0;
	padding: 0;
	text-align:center;
	vertical-align:middle;
	border:1px solid #ccc;
	}

dl.family-indexA02-unit dt span.pic img{
	top: 0.92em;
	}

div.family-indexA02 dl.first-child dt span.pic img,
div.family-indexA02 dl.family-indexA02-unit:first-child dt span.pic img{
	top: 0.1em;
	}


div.family-indexA01-unit h3 span.small img,
dl.family-indexA02-unit dt span.small img{
	padding:14px;
	border:1px solid #ccc;
	}

div.family-indexA01-unit h3 span.heading,
dl.family-indexA02-unit dt em{
	font-size: 133%;
	line-height: 1.5;
	}
div.family-indexA01-unit div.textIndexA01,
dl.family-indexA02-unit dd{
	margin: 0 0 0 90px;
	padding: 0;
	}
div.family-indexA01-unit div.textIndexA01 p,
dl.family-indexA02-unit dd p{
	margin: 0;
	padding: 0;
	}





