

/*------------------------------------
	formA01
------------------------------------*/

form.formA01{
	margin-top:0.83em;/*10px*/
}


/*------------------------------------
	search-blockA01
------------------------------------*/

div.search-blockA01{
	margin-top:1.62em;/*18px*/
	background-color:#f4f4f4;
	border:1px solid #c6c6c6;
}
div.search-blockA01 .lvl01{
	padding:0.45em 10px;
	border-bottom:1px solid #c6c6c6;
	line-height:1.42;
	color:#555;
}

div.search-blockA01 .lvl01-link a{
	padding:0.45em 10px 0.45em 16px;
	border-bottom:1px solid #c6c6c6;
	line-height:1.42;
	color:#555;
	display:block;
	text-indent:-6px;
}

/*anchor*/

div.search-blockA01 .lvl01-link a:link{
	text-decoration:none;
	color:#555;
}
div.search-blockA01 .lvl01-link a:visited{
	text-decoration:none;
	color:#808080;
}
div.search-blockA01 .lvl01-link a:link:hover,
div.search-blockA01 .lvl01-link a:visited:hover,
div.search-blockA01 .lvl01-link a:link:active,
div.search-blockA01 .lvl01-link a:visited:active,
div.search-blockA01 .lvl01-link a:link:focus,
div.search-blockA01 .lvl01-link a:visited:focus{
	text-decoration:underline;
	color:#3b3b3b;
}

div.search-blockA01 .lvl01-link a:link{
	_text-decoration:none;
}
div.search-blockA01 .lvl01-link a:visited{
	_text-decoration:none;
}
div.search-blockA01 .lvl01-link a:hover,
div.search-blockA01 .lvl01-link a:active{
	_text-decoration:underline;
}





div.search-blockA01 div.description{
	margin:0.58em 10px;
}


div.search-blockA01 form.search-form{
	margin-top:0.83em;/*10px*/
}

div.search-blockA01 form.search-form p input.search-str{
	width:430px;
	padding:1px 4px;
	border:1px solid #c6c6c6;
	vertical-align: middle;
	color:#555;
}

body.tmplC01 div.search-blockA01 form.search-form p input.search-str,
body.tmplC02 div.search-blockA01 form.search-form p input.search-str,
body.tmplC03 div.search-blockA01 form.search-form p input.search-str,
body.tmplC04 div.search-blockA01 form.search-form p input.search-str,
body.tmplD01 div.search-blockA01 form.search-form p input.search-str{
	width:280px;
}

div.search-blockA01 form.search-form p input.submit-btn{
	margin-left:5px;
	vertical-align:middle;

}

div.search-blockA01 form.search-form p.note{
	margin-top:0.42em;/*5px*/
	font-size:91%;
}

div.search-blockA01 form.search-form em.lvl02{
	font-weight:normal;
	margin-right:5px;
}



/*------------------------------------
	search-blockB01
------------------------------------*/

div.search-blockB01{
	_overflow:visible;
	_height:1px;
	zoom:1;
	/*\*//*/
	overflow:hidden;
	/**/
	width:684px;
	
	margin-top:1.62em;/*18px*/
	background-color:#e5e5e5;
}

div.search-blockB01:after{
	content:"."; 
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}


div.search-blockB01 div.search{
	float:left;
	width:307px;
}

div.search-blockB01 div.search input.form-str{
	width:210px;
	padding:1px 4px;
	border:1px solid #c6c6c6;
	vertical-align: middle;
	color:#555;
}

div.search-blockB01 div.search p{
	padding:0 10px 10px 10px;
}

div.search-blockB01 div.guide{
	float:right;
	width:377px;
}

div.search-blockB01 div.guide ul li{
	margin-top:1em;
	*margin-top:1.1em;
}



/*------------------------------------
	search-results-blockA01
------------------------------------*/

div.search-results-blockA01{
	_overflow:visible;
	_height:1px;
	zoom:1;
	/*\*//*/
	overflow:hidden;
	/**/
	width:664px;
	
	margin-top:0.83em;/*10px*/
}

div.search-results-blockA01:after{
	content:"."; 
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

div.search-results-blockA01 div.result{
	float:left;
	width:200px;
}

div.search-results-blockA01 div.pagination{
	float:right;
	width:464px;
}


div.search-results-blockA01 div.pagination ul{
	text-align:right;
	list-style-type:none;
}

div.search-results-blockA01 div.pagination ul li{
	display:inline;
	margin-left:0.45em;
	*padding-left:0.45em;
	zoom: 1;
}

div.search-results-blockA01 div.pagination ul li.stay{
	font-weight:bold;
}

div.search-results-blockA01 div.pagination ul li.prev,
div.search-results-blockA01 div.pagination ul li.next{
	font-weight:bold;
	_position:relative;
	_top:0;
}

div.search-results-blockA01 div.pagination ul li.prev img.icon{
	vertical-align:middle;
	margin-right:3px;
}
div.search-results-blockA01 div.pagination ul li.next img.icon{
	vertical-align:middle;
	margin-left:3px;
	*padding-left:3px;
}

div.search-results-blockA01 div.pagination ul li img.icon{
	position:relative;
	top:-1px;
	*top:0;
}

/*anchor*/

div.search-results-blockA01 div.pagination ul li.prev a:link,
div.search-results-blockA01 div.pagination ul li.next a:link{
	text-decoration:none;
}
div.search-results-blockA01 div.pagination ul li.prev a:visited,
div.search-results-blockA01 div.pagination ul li.next a:visited{
	text-decoration:none;
}
div.search-results-blockA01 div.pagination ul li.prev a:link:hover,
div.search-results-blockA01 div.pagination ul li.prev a:visited:hover,
div.search-results-blockA01 div.pagination ul li.prev a:link:active,
div.search-results-blockA01 div.pagination ul li.prev a:visited:active,
div.search-results-blockA01 div.pagination ul li.prev a:link:focus,
div.search-results-blockA01 div.pagination ul li.prev a:visited:focus,
div.search-results-blockA01 div.pagination ul li.next a:link:hover,
div.search-results-blockA01 div.pagination ul li.next a:visited:hover,
div.search-results-blockA01 div.pagination ul li.next a:link:active,
div.search-results-blockA01 div.pagination ul li.next a:visited:active,
div.search-results-blockA01 div.pagination ul li.next a:link:focus,
div.search-results-blockA01 div.pagination ul li.next a:visited:focus{
	text-decoration:underline;
}


div.search-results-blockA01 div.pagination ul li.prev a:link{
	_text-decoration:none;
}
div.search-results-blockA01 div.pagination ul li.prev a:visited{
	_text-decoration:none;
}
div.search-results-blockA01 div.pagination ul li.prev a:hover,
div.search-results-blockA01 div.pagination ul li.prev a:active{
	_text-decoration:underline;
}


div.search-results-blockA01 div.pagination ul li.next a:link{
	_text-decoration:none;
}
div.search-results-blockA01 div.pagination ul li.next a:visited{
	_text-decoration:none;
}
div.search-results-blockA01 div.pagination ul li.next a:hover,
div.search-results-blockA01 div.pagination ul li.next a:active{
	_text-decoration:underline;
}


/*------------------------------------
	search-results-listA01
------------------------------------*/

dl.search-results-listA01{
	margin-top:0.83em;/*10px*/
	padding-bottom:0.42em;/*5px*/
	background:url(/common/img/line_02.gif) left bottom repeat-x;
}

dl.search-results-listA01 dt{
	font-weight:normal;
	margin-bottom:0.42em;/*5px*/
	padding-top:0.83em;/*10px*/
	padding-left:6px;
	text-indent:-6px;
	
	background:url(/common/img/line_01.gif) left top repeat-x;
}

dl.search-results-listA01 dt.document{
	padding-left:15px;
	text-indent:-15px;
}


dl.search-results-listA01 dd{
	margin-bottom:0.83em;/*10px*/
}


/*anchor*/

dl.search-results-listA01 dt a:link{
	text-decoration:none;
}
dl.search-results-listA01 dt a:visited{
	text-decoration:none;
}
dl.search-results-listA01 dt a:link:hover,
dl.search-results-listA01 dt a:visited:hover,
dl.search-results-listA01 dt a:link:active,
dl.search-results-listA01 dt a:visited:active,
dl.search-results-listA01 dt a:link:focus,
dl.search-results-listA01 dt a:visited:focus{
	text-decoration:underline;
}


dl.search-results-listA01 dt a:link{
	_text-decoration:none;
}
dl.search-results-listA01 dt a:visited{
	_text-decoration:none;
}
dl.search-results-listA01 dt a:hover,
dl.search-results-listA01 dt a:active{
	_text-decoration:underline;
}



