/*
searchresult.css
*/

.opsSearchBox .opsSearchBoxForm,
.suggestList .opsSuggestHeader,
.suggestList li a,
.suggestDetailList .opsSuggestHeader,
.suggestDetailList li a,
.opsSearchResult .opsSearchResultHeader,
.opsSearchResult .opsSearchResultFooter,
.opsSearchResultTable .opsColDescription,
.opsSearchResultTable .opsColDescription .opsColDescriptionInner,
.opsSearchResultTable .opsColDownload ul,
#headForm.formA01_01 .search,
.tabOuter .tabInner .tabList {
	*zoom:1;
}

.opsSearchBox .opsSearchBoxForm:after,
.suggestList .opsSuggestHeader:after,
.suggestList li a:after,
.suggestDetailList .opsSuggestHeader:after,
.suggestDetailList li a:after,
.opsSearchResult .opsSearchResultHeader:after,
.opsSearchResult .opsSearchResultFooter:after,
.opsSearchResultTable .opsColDescription:after,
.opsSearchResultTable .opsColDescription .opsColDescriptionInner:after,
.opsSearchResultTable .opsColDownload ul:after,
#headForm.formA01_01 .search:after,
.tabOuter .tabInner .tabList:after {
	content:'';
	display:block;
	clear:both;
	height:0;
}
@media print {
	.opsSearchBox .opsSearchBoxForm:after,
	.suggestList .opsSuggestHeader:after,
	.suggestList li a:after,
	.suggestDetailList .opsSuggestHeader:after,
	.suggestDetailList li a:after,
	.opsSearchResult .opsSearchResultHeader:after,
	.opsSearchResult .opsSearchResultFooter:after,
	.opsSearchResultTable .opsColDescription:after,
	.opsSearchResultTable .opsColDescription .opsColDescriptionInner:after,
	.opsSearchResultTable .opsColDownload ul:after,
	#headForm.formA01_01 .search:after,
	.tabOuter .tabInner .tabList:after {
		height:1px;
		margin-bottom:-1px;
		visibility:hidden;
	}
}

.opsSearchResultTable tfoot {
	background-color:transparent;
	border:0;color:transparent;
	font:0/0 a;
	text-shadow:none;
	*display:none;
	_display:none;
}

.opsSearchBox {
	border:1px solid #ccc;
}

.opsSearchBox .opsSearchBoxHeader {
	padding:5px 10px
	;background:#e6eef9;
	border:1px solid #fff
}

.opsSearchBox .opsSearchBoxBody {
	padding:5px 10px;
	background:#f0f5fc;
}

.opsSearchBox .opsSearchBoxDescription {
	margin-bottom:5px;
}

.opsSearchBox .opsSearchBoxForm p {
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
}

.opsSearchBox .opsKeyword {
	width:280px;
	padding:4px 4px;
	border:1px solid #ccc;border-radius:2px;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .15)inset;
	box-shadow:0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .15)inset;
	color:#333;
}

.opsSearchBox .opsKeyword:focus {
	border-color:#999;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .25)inset;
	box-shadow:0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .25)inset;
	color:#000;font-weight:700;
}

.suggestList .opsSuggestHeader,
.suggestList li a,
.suggestDetailList .opsSuggestHeader,
.suggestDetailList li a {
	display:block;
	padding:6px 5px;
}

.suggestList {
	position:relative;
	z-index:90;
	display:none;
	position:absolute;
	background:#fff;
	background:rgba(255, 255, 255, .95);
	border:1px solid #c6c6c6;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, .15);
	box-shadow:0 1px 4px rgba(0, 0, 0, .15);
	border-radius:3px;font-size:11px;font-family: Arial;
	line-height:1.25;text-align:left;word-break:break-all;
}

.suggestList .opsSuggestHeader {
	background:#e6eef9;background-color:#e6eef9;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6eef9), color-stop(100%, #e1e9f4));
	background-image:-webkit-linear-gradient(top, #e6eef9, #e1e9f4);
	background-image:-moz-linear-gradient(top, #e6eef9, #e1e9f4);
	background-image:-ms-linear-gradient(top, #e6eef9, #e1e9f4);
	background-image:-o-linear-gradient(top, #e6eef9, #e1e9f4);
	background-image:linear-gradient(top, #e6eef9, #e1e9f4);
	border-bottom:1px solid #c6c6c6;
	border-radius:3px 3px 0 0;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .25)inset, 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow:0 1px 0 rgba(255, 255, 255, .25)inset, 0 1px 1px rgba(0, 0, 0, .075);
}

.suggestList .opsSuggestHeader .opsSuggestHeaderTitle {
	float:left;
}

.suggestList .opsSuggestHeader .opsSuggestHeaderTitle em {
	font-style:normal;
	font-weight:700;
}

.suggestList .opsSuggestHeader .opsSuggestHeadeePagination {
	float:right;
}

.suggestList .opsSuggestHeader .opsSuggestHeadeePagination span {
	display:inline-block;
	vertical-align:baseline;zoom:1;
	*display:inline;
	*vertical-align:auto;
	padding:0 2px;
}

.suggestList .opsSuggestHeader .opsSuggestHeadeePagination span.prev {
	margin-right:2px;
	padding-left:8px;
}

.suggestList .opsSuggestHeader .opsSuggestHeadeePagination span.next {
	margin-left:2px;
	padding-right:8px;
}

.suggestList .opsSuggestHeader .opsSuggestHeadeePagination span.opsPrev,
.suggestList .opsSuggestHeader .opsSuggestHeadeePagination span.opsNext,
.suggestList .opsSuggestHeader .opsSuggestHeadeePagination span.clearOpsHistory {
	cursor:pointer;
	color:#1754b7;
}

.suggestList .opsSuggestHeader .opsSuggestHeadeePagination span.opsPrev {
	background:url(images/icon_left_b.gif) no-repeat 0 20%;
}

.suggestList .opsSuggestHeader .opsSuggestHeadeePagination span.opsNext {
	background:url(images/icon_right_b.gif) no-repeat 100% 20%;
}

.suggestList li {
	border-left:6px solid #c6c6c6;
}

.suggestList li a {
	cursor:pointer;
	color:#555;
	line-height:1.25;
	min-height:1.25em;
	height:auto!important;
	height:1.25em;
}

.suggestList li a:link,
.suggestList li a:visited,
.suggestList li a:hover,
.suggestList li a:focus,
.suggestList li a:active {
	text-decoration:none;
}

.suggestList li a b {
	font-weight:700;
}

.suggestList li a .opsName {
	float:left;
	margin-right:10px;
}

.suggestList li a .opsVolume {
	float:right;
	padding-right:8px;
	background:url(images/icon_right_b.gif) no-repeat 100% 5%;
}

.suggestList li a.hover {
	background:whitesmoke;
	background-color:whitesmoke;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #f2f2f2));
	background-image:-webkit-linear-gradient(top, whitesmoke, #f2f2f2);
	background-image:-moz-linear-gradient(top, whitesmoke, #f2f2f2);
	background-image:-ms-linear-gradient(top, whitesmoke, #f2f2f2);
	background-image:-o-linear-gradient(top, whitesmoke, #f2f2f2);
	background-image:linear-gradient(top, whitesmoke, #f2f2f2);
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .25)inset;
	box-shadow:0 1px 0 rgba(255, 255, 255, .25)inset;
	text-decoration:underline;
	color:#0046a0;
}

.suggestList li a.hover .opsName {
	text-decoration:underline;
}

.suggestList li a.hover .opsVolume {
	background:0 0;
}

.suggestList li.opsSuggest_sensor {
	border-color:#939fd0;
}

.suggestList li.opsSuggest_switch {
	border-color:#c399cb;
}

.suggestList li.opsSuggest_safety {
	border-color:#f2e06d;
}

.suggestList li.opsSuggest_relay {
	border-color:#e58873;
}

.suggestList li.opsSuggest_control {
	border-color:#e5a35c;
}

.suggestList li.opsSuggest_fasystem {
	border-color:#a9cc7a;
}

.suggestList li.opsSuggest_motion_drive {
	border-color:#c8ca66;
}

.suggestList li.opsSuggest_energy-conservation-support_environment-measure-equipment {
	border-color:#68bdea;
}

.suggestList li.opsSuggest_device {
	border-color:#bfbfbf;
}

.suggestList li:last-child {
	border-radius:0 0 3px 3px;
}

.suggestList .historyList li {
	border-left:none;
}

.suggestDetailList {
	position:relative;
	z-index:91;
	display:none;
	position:absolute;
	background:#fff;
	background:rgba(255, 255, 255, .95);
	border:1px solid #c6c6c6;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, .15);
	box-shadow:0 1px 4px rgba(0, 0, 0, .15);
	border-radius:3px;
	font-size:11px;
	font-family: Arial;
	line-height:1.25;
	text-align:left;
	word-break:break-all;
}

.suggestDetailList .opsSuggestHeader {
	background:#e6eef9;background-color:#e6eef9;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6eef9), color-stop(100%, #e1e9f4));
	background-image:-webkit-linear-gradient(top, #e6eef9, #e1e9f4);
	background-image:-moz-linear-gradient(top, #e6eef9, #e1e9f4);
	background-image:-ms-linear-gradient(top, #e6eef9, #e1e9f4);
	background-image:-o-linear-gradient(top, #e6eef9, #e1e9f4);
	background-image:linear-gradient(top, #e6eef9, #e1e9f4);
	border-bottom:1px solid #c6c6c6;border-radius:3px 3px 0 0;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .25)inset, 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow:0 1px 0 rgba(255, 255, 255, .25)inset, 0 1px 1px rgba(0, 0, 0, .075);
}

.suggestDetailList .opsSuggestHeader .opsSuggestHeaderTitle {
	float:left;
}

.suggestDetailList .opsSuggestHeader .opsSuggestHeaderTitle em {
	font-style:normal;
	font-weight:700;
}

.suggestDetailList .opsSuggestHeader .opsSuggestHeadeePagination {
	float:right;
}

.suggestDetailList .opsSuggestHeader .opsSuggestHeadeePagination span {
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
	padding:0 2px
}

.suggestDetailList .opsSuggestHeader .opsSuggestHeadeePagination span.prev {
	margin-right:2px;
	padding-left:8px;
}

.suggestDetailList .opsSuggestHeader .opsSuggestHeadeePagination span.next {
	margin-left:2px;
	padding-right:8px;
}

.suggestDetailList .opsSuggestHeader .opsSuggestHeadeePagination span.opsPrev,
.suggestDetailList .opsSuggestHeader .opsSuggestHeadeePagination span.opsNext,
.suggestDetailList .opsSuggestHeader .opsSuggestHeadeePagination span.clearOpsHistory {
	cursor:pointer;
	color:#1754b7;
}

.suggestDetailList .opsSuggestHeader .opsSuggestHeadeePagination span.opsPrev {
	background:url(images/icon_left_b.gif) no-repeat 0 20%;
}

.suggestDetailList .opsSuggestHeader .opsSuggestHeadeePagination span.opsNext {
	background:url(images/icon_right_b.gif) no-repeat 100% 20%;
}

.suggestDetailList li {
	border-left:6px solid #c6c6c6;
}

.suggestDetailList li a {
	cursor:pointer;
	color:#555;
	line-height:1.25;
	min-height:1.25em;
	height:auto!important;
	height:1.25em;
}

.suggestDetailList li a:link,
.suggestDetailList li a:visited,
.suggestDetailList li a:hover,
.suggestDetailList li a:focus,
.suggestDetailList li a:active {
	text-decoration:none;
}

.suggestDetailList li a b {
	font-weight:700;
}

.suggestDetailList li a .opsName {
	float:left;
	margin-right:10px;
}

.suggestDetailList li a .opsVolume {
	float:right;
	padding-right:8px;
	background:url(images/icon_right_b.gif) no-repeat 100% 5%;
}

.suggestDetailList li a.hover {
	background:whitesmoke;
	background-color:whitesmoke;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #f2f2f2));
	background-image:-webkit-linear-gradient(top, whitesmoke, #f2f2f2);
	background-image:-moz-linear-gradient(top, whitesmoke, #f2f2f2);
	background-image:-ms-linear-gradient(top, whitesmoke, #f2f2f2);
	background-image:-o-linear-gradient(top, whitesmoke, #f2f2f2);
	background-image:linear-gradient(top, whitesmoke, #f2f2f2);
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .25)inset;
	box-shadow:0 1px 0 rgba(255, 255, 255, .25)inset;
	text-decoration:underline;
	color:#0046a0;
}

.suggestDetailList li a.hover .opsName {
	text-decoration:underline;
}

.suggestDetailList li a.hover .opsVolume {
	background:0 0;
}

.suggestDetailList li.opsSuggest_sensor {
	border-color:#939fd0;
}

.suggestDetailList li.opsSuggest_switch {
	border-color:#c399cb;
}

.suggestDetailList li.opsSuggest_safety {
	border-color:#f2e06d;
}

.suggestDetailList li.opsSuggest_relay {
	border-color:#e58873;
}

.suggestDetailList li.opsSuggest_control {
	border-color:#e5a35c;
}

.suggestDetailList li.opsSuggest_fasystem {
	border-color:#a9cc7a;
}

.suggestDetailList li.opsSuggest_motion_drive {
	border-color:#c8ca66;
}

.suggestDetailList li.opsSuggest_energy-conservation-support_environment-measure-equipment {
	border-color:#68bdea;
}

.suggestDetailList li.opsSuggest_device {
	border-color:#bfbfbf;
}

.suggestDetailList li:last-child {
	border-radius:0 0 3px 3px;
}

.suggestDetailList .historyList li {
	border-left:none;
}

.suggestDetailList #opsTriangle {
	position:absolute;
	left:-6px;
	width:6px;
	height:11px;
	background-repeat:no-repeat;
	background-position:0 0;
}

.suggestDetailList .opsTriangleCategory_sensor {
	background-image:url(images/ico_triangle_sensor.png);
}

.suggestDetailList .opsTriangleCategory_switch {
	background-image:url(images/ico_triangle_switch.png);
}

.suggestDetailList .opsTriangleCategory_safety {
	background-image:url(images/ico_triangle_safety.png);
}

.suggestDetailList .opsTriangleCategory_relay {
	background-image:url(images/ico_triangle_relay.png);
}

.suggestDetailList .opsTriangleCategory_control {
	background-image:url(images/ico_triangle_control.png);
}

.suggestDetailList .opsTriangleCategory_fasystem {
	background-image:url(images/ico_triangle_fasystem.png);
}

.suggestDetailList .opsTriangleCategory_motion_drive {
	background-image:url(images/ico_triangle_motion_drive.png);
}
.suggestDetailList .opsTriangleCategory_energy-conservation-support_environment-measure-equipment {
	background-image:url(images/ico_triangle_energy_environment.png);
}

.suggestDetailList .opsTriangleCategory_device {
	background-image:url(images/ico_triangle_device.png);
}

.opsSearchResult {
	border:1px solid #ccc;
}

.opsSearchResult .opsSearchResultInner {
	padding:10px;
}

.opsSearchResult .opsSearchResultHeader .opsPagination,
.opsSearchResult .opsSearchResultFooter .opsPagination {
	float:right;
}

.opsSearchResult .opsSearchResultHeader {
	margin-bottom:20px;
}

.opsSearchResult .opsSearchResultHeader .title {
	margin-bottom:10px;
	padding-left:5px;
	border-left:5px solid #CCC;
}

.opsSearchResult .opsSearchResultFooter {
	margin-top:20px;
}

.opsSearchResultTable {
	display:none;
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	*border-bottom:1px solid #969696;
}

.opsSearchResultTable tr {
	border-left:1px solid #969696;
}

.opsSearchResultTable th,
.opsSearchResultTable td {
	word-break:break-all;
	padding:5px;
	border-top:1px solid #969696;
	border-right:1px solid #969696;
}

.opsSearchResultTable thead th {
	background:#e1e1e1;
	background-color:#e4e4e4;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #e1e1e1));
	background-image:-webkit-linear-gradient(top, #e4e4e4, #e1e1e1);
	background-image:-moz-linear-gradient(top, #e4e4e4, #e1e1e1);
	background-image:-ms-linear-gradient(top, #e4e4e4, #e1e1e1);
	background-image:-o-linear-gradient(top, #e4e4e4, #e1e1e1);
	background-image:linear-gradient(top, #e4e4e4, #e1e1e1);
	text-align:center;
}


.opsSearchResultTable thead .opsColDescription {
/*	border-left:1px solid #969696;	*/
	width: 491px;
}


.opsSearchResultTable tbody {
	border-bottom:1px solid #969696;
}

div.opsSearchResultBodyInner {
	/border-left:1px solid #969696;
}

.opsSearchResultTable tbody th,
.opsSearchResultTable tbody td {
	vertical-align:top;
}

.opsSearchResultTable tbody .opsColDescription {
	border-right:0;
}

.opsSearchResultTable .opsRowOut th,
.opsSearchResultTable .opsRowOut td {
	background:#e5e5e5;
}

.opsSearchResultTable tfoot th,
.opsSearchResultTable tfoot td {
	padding:0;
}

.opsSearchResultTable .opsProductName {
	font-size:16px;
}

.opsSearchResultTable .opsColDescription {
	line-height:1.25;
}

.opsSearchResultTable .opsColDescription .opsColDescriptionInner {
	margin: -5px;
	padding:5px;
}

.opsSearchResultTable .opsColDescription a {
	display:block;
	color:#555;text-decoration:none;
}

.opsSearchResultTable .opsColDescription a:link,
.opsSearchResultTable .opsColDescription a:visited,
.opsSearchResultTable .opsColDescription a:hover,
.opsSearchResultTable .opsColDescription a:visited:hover {
	color:#555!important;
	text-decoration:none;
}

.opsSearchResultTable .opsColDescription a:link .opsProductName,
.opsSearchResultTable .opsColDescription a:visited .opsProductName {
	color:#6b5dd1!important;
}

.opsSearchResultTable .opsColDescription a:hover .opsProductName,
.opsSearchResultTable .opsColDescription a:visited:hover .opsProductName {
	color:#6b5dd1!important;
	text-decoration:underline;
}

.opsSearchResultTable .opsColDescription a .opsProductName {
	color:#1a66ca!important;
}

.opsSearchResultTable .opsColDescription a:hover {
	text-decoration:none!important;
}

.opsSearchResultTable .opsColDescription a:hover img {
	border:1px solid #999;
}

.opsSearchResultTable .opsColDescription .opsFigure {
	display:block;
	float:left;
	width:50px;
	height:50px;
	margin-right:10px;
}

.opsSearchResultTable .opsColDescription .opsFigure img {
	background:#fff;
	border:1px solid #ccc;
}

.opsSearchResultTable .opsColDescription .opsCategory,
.opsSearchResultTable .opsColDescription .opsProductName,
.opsSearchResultTable .opsColDescription .opsProductDescription {
	display:block;
	margin-left:60px;
}

.opsSearchResultTable .opsColDescription .opsProductName a {
	font-weight:700;
}

.opsSearchResultTable .opsColDescription .opsOut {
	display:block;
	color:#A00000;font-weight:700;
}

.opsSearchResultTable .opsCategory_sensor .opsColDescriptionInner {
	border-left:6px solid #939fd0;
}

.opsSearchResultTable .opsCategory_switch .opsColDescriptionInner {
	border-left:6px solid #c399cb;
}

.opsSearchResultTable .opsCategory_safety .opsColDescriptionInner {
	border-left:6px solid #f2e06d;
}

.opsSearchResultTable .opsCategory_relay .opsColDescriptionInner {
	border-left:6px solid #e58873;
}

.opsSearchResultTable .opsCategory_control .opsColDescriptionInner {
	border-left:6px solid #e5a35c;
}

.opsSearchResultTable .opsCategory_fasystem .opsColDescriptionInner {
	border-left:6px solid #a9cc7a;
}

.opsSearchResultTable .opsCategory_motion_drive .opsColDescriptionInner {
	border-left:6px solid #c8ca66;
}

.opsSearchResultTable .opsCategory_energy-conservation-support_environment-measure-equipment .opsColDescriptionInner {
	border-left:6px solid #68bdea;
}

.opsSearchResultTable .opsCategory_device .opsColDescriptionInner {
	border-left:6px solid #bfbfbf;
}

.opsSearchResultTable .opsColDetails,
.opsSearchResultTable .opsColDownload,
.opsSearchResultTable .opsColMycatalog {
	width:80px;
	font-size:11px;
}

.opsSearchResultTable .opsColDetails ul,
.opsSearchResultTable .opsColDownload ul,
.opsSearchResultTable .opsColMycatalog ul {
	margin-bottom:-3px;
}

.opsSearchResultTable .opsColDetails ul li,
.opsSearchResultTable .opsColDownload ul li,
.opsSearchResultTable .opsColMycatalog ul li {
	margin-bottom:3px;
	border:1px solid #ccc;
	border-radius:1px;
	-webkit-box-shadow:0 1px 1px rgba(255, 255, 255, .5);
	box-shadow:0 1px 1px rgba(255, 255, 255, .5);
}

.opsSearchResultTable .opsColDetails ul li a,
.opsSearchResultTable .opsColDetails ul li em,
.opsSearchResultTable .opsColDownload ul li a,
.opsSearchResultTable .opsColDownload ul li em,
.opsSearchResultTable .opsColMycatalog ul li a,
.opsSearchResultTable .opsColMycatalog ul li em {
	display:block;
	height:1.5em;
	line-height:1.5;
	padding:1px;
	background:#fff url(images/btn_up.png) repeat-x 0 100%;
	border:1px solid #fff;
}

.opsSearchResultTable .opsColDetails ul li a:link,
.opsSearchResultTable .opsColDetails ul li a:visited,
.opsSearchResultTable .opsColDetails ul li a:hover,
.opsSearchResultTable .opsColDetails ul li a:focus,
.opsSearchResultTable .opsColDetails ul li a:active,
.opsSearchResultTable .opsColDetails ul li em:link,
.opsSearchResultTable .opsColDetails ul li em:visited,
.opsSearchResultTable .opsColDetails ul li em:hover,
.opsSearchResultTable .opsColDetails ul li em:focus,
.opsSearchResultTable .opsColDetails ul li em:active,
.opsSearchResultTable .opsColDownload ul li a:link,
.opsSearchResultTable .opsColDownload ul li a:visited,
.opsSearchResultTable .opsColDownload ul li a:hover,
.opsSearchResultTable .opsColDownload ul li a:focus,
.opsSearchResultTable .opsColDownload ul li a:active,
.opsSearchResultTable .opsColDownload ul li em:link,
.opsSearchResultTable .opsColDownload ul li em:visited,
.opsSearchResultTable .opsColDownload ul li em:hover,
.opsSearchResultTable .opsColDownload ul li em:focus,
.opsSearchResultTable .opsColDownload ul li em:active,
.opsSearchResultTable .opsColMycatalog ul li a:link,
.opsSearchResultTable .opsColMycatalog ul li a:visited,
.opsSearchResultTable .opsColMycatalog ul li a:hover,
.opsSearchResultTable .opsColMycatalog ul li a:focus,
.opsSearchResultTable .opsColMycatalog ul li a:active,
.opsSearchResultTable .opsColMycatalog ul li em:link,
.opsSearchResultTable .opsColMycatalog ul li em:visited,
.opsSearchResultTable .opsColMycatalog ul li em:hover,
.opsSearchResultTable .opsColMycatalog ul li em:focus,
.opsSearchResultTable .opsColMycatalog ul li em:active {
	text-decoration:none;
}

.opsSearchResultTable .opsColDetails ul li a span,
.opsSearchResultTable .opsColDetails ul li em span,
.opsSearchResultTable .opsColDownload ul li a span,
.opsSearchResultTable .opsColDownload ul li em span,
.opsSearchResultTable .opsColMycatalog ul li a span,
.opsSearchResultTable .opsColMycatalog ul li em span {
	display:block;
	padding-left:15px;
	background-repeat:no-repeat;
	background-position:0 50%;
}

.opsSearchResultTable .opsColDetails ul li a:hover,
.opsSearchResultTable .opsColDetails ul li em:hover,
.opsSearchResultTable .opsColDownload ul li a:hover,
.opsSearchResultTable .opsColDownload ul li em:hover,
.opsSearchResultTable .opsColMycatalog ul li a:hover,
.opsSearchResultTable .opsColMycatalog ul li em:hover {
	background:#fff url(images/btn_over.png) repeat-x 0 100%;
}

.opsSearchResultTable .opsColDetails ul li em,
.opsSearchResultTable .opsColDownload ul li em,
.opsSearchResultTable .opsColMycatalog ul li em {
	cursor:not-allowed;
	background:#ccc;
	border-color:#ccc;
	color:#fff;
}

.opsSearchResultTable .opsColDetails ul li em:hover,
.opsSearchResultTable .opsColDownload ul li em:hover,
.opsSearchResultTable .opsColMycatalog ul li em:hover {
	background:#ccc;
}

.opsSearchResultTable .opsColDetails ul li.opsBtnCatalog a span,
.opsSearchResultTable .opsColDownload ul li.opsBtnCatalog a span,
.opsSearchResultTable .opsColMycatalog ul li.opsBtnCatalog a span {
	padding:0 5px;
}

.opsSearchResultTable .opsColDetails ul li.opsBtnCatalog em span,
.opsSearchResultTable .opsColDownload ul li.opsBtnCatalog em span,
.opsSearchResultTable .opsColMycatalog ul li.opsBtnCatalog em span {
	padding:0 5px;
}

.opsSearchResultTable .opsColDetails ul li.opsBtnManual a span,
.opsSearchResultTable .opsColDownload ul li.opsBtnManual a span,
.opsSearchResultTable .opsColMycatalog ul li.opsBtnManual a span {
	padding:0 5px;
}

.opsSearchResultTable .opsColDetails ul li.opsBtnManual em span,
.opsSearchResultTable .opsColDownload ul li.opsBtnManual em span,
.opsSearchResultTable .opsColMycatalog ul li.opsBtnManual em span {
	padding:0 5px;
}

.opsSearchResultTable .opsColDetails ul li.opsBtnSoftaware a span,
.opsSearchResultTable .opsColDownload ul li.opsBtnSoftaware a span,
.opsSearchResultTable .opsColMycatalog ul li.opsBtnSoftaware a span {
	padding:0 5px;
}

.opsSearchResultTable .opsColDetails ul li.opsBtnSoftaware em span,
.opsSearchResultTable .opsColDownload ul li.opsBtnSoftaware em span,
.opsSearchResultTable .opsColMycatalog ul li.opsBtnSoftaware em span {
	padding:0 5px;
}

.opsSearchResultTable .opsColDetails ul li.opsBtnCad a span,
.opsSearchResultTable .opsColDownload ul li.opsBtnCad a span,
.opsSearchResultTable .opsColMycatalog ul li.opsBtnCad a span {
	padding:0 5px;
}

.opsSearchResultTable .opsColDetails ul li.opsBtnCad em span,
.opsSearchResultTable .opsColDownload ul li.opsBtnCad em span,
.opsSearchResultTable .opsColMycatalog ul li.opsBtnCad em span {
	padding:0 5px;
}

.opsSearchResultTable .opsColDetails ul li.opsBtnMycatalog a span,
.opsSearchResultTable .opsColDownload ul li.opsBtnMycatalog a span,
.opsSearchResultTable .opsColMycatalog ul li.opsBtnMycatalog a span {
	background-image:url(images/ico_my.png);
}

.opsSearchResultTable .opsColDownload {
	width:170px;
}

.opsSearchResultTable .opsColDownload ul li {
	float:left;
	width:80px;
}

.opsSearchResultTable .opsColDownload ul li.opsBtnOdd {
	margin-right:5px;
}

.opsSearchResultTable .opsColDetails ul li a {
	text-align:center;
}

.opsSearchResultTable .opsColDetails ul li a span {
	padding:0;
}

.opsPagination {
	text-align:center;
}

.opsPagination ol,
.opsPagination ul,
.opsPagination li {
	display:inline-block;
	vertical-align:baseline;zoom:1;
	*display:inline;
	*vertical-align:auto;
	margin:0;padding:0;
	list-style:none;
}

.opsPagination a,
.opsPagination span {
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
	margin:0 2px;
	padding:0 2px;
}

.opsPagination .current span {
	font-weight:700;
}

.opsPagination .opsPaginationPrev span,
.opsPagination .opsPaginationNext span {
	color:#ccc;
}
.opsPagination .opsPaginationPrev a {
	padding-left:15px;
	background:url(images/paginationA01_icon_01.gif) no-repeat 0 50%;
}

.opsPagination .opsPaginationNext a {
	padding-right:15px;
	background:url(images/paginationA01_icon_02.gif) no-repeat 100% 50%;
}

.opsSearchNoResult .opsSearchNoResultHeader,
div.primary-contents-area .opsSearchNoResult .opsSearchNoResultHeader {
	margin-bottom:.83em;
}

.opsSearchNoResult .opsSearchNoResultBody,
div.primary-contents-area .opsSearchNoResult .opsSearchNoResultBody {
	margin-left:17px;
}

.opsSearchNoResult .opsSearchNoResultBody dl {
	margin-top:20px;
}

.opsSearchNoResult .opsSearchNoResultBody dt {
	margin-bottom:.83em;
	font-weight:700;
}

.opsSearchNoResult .opsSearchNoResultBody dd ul li {
	margin-bottom:.83em;
	padding-left:22px;
}

.opsSearchNoResult .opsSearchNoResultBody dd ul.opsDiscList li {
	padding-left:39px;
	background:url(images/listA01_icon_01.gif) 22px .5em no-repeat;
}

/*
headForm.formA01_01 .search {
	width:100%;
	padding:10px;
}

headForm.formA01_01 .search p {
	display:inline-block;
	vertical-align:baseline;
	zoom:1;*display:inline;
	*vertical-align:auto;
	margin:0;padding:0;
}

headForm.formA01_01 .search p.suggestCheckbox {
	margin-left:20px;
}

headForm.formA01_01 .search p.suggestCheckbox input {
	margin-right:5px;
}

headForm.formA01_01 .search p.help {
	margin-left:20px;
}

headForm.formA01_01 .search p.help a {
	display:inline-block;
	vertical-align:baseline;
	zoom:1;*display:inline;
	*vertical-align:auto;
	padding-left:20px;
	background:url(images/search_help_btn_02.gif) no-repeat 0 50%;
}
*/

.tabOuter .tabInner .tabList {
	margin-bottom:-1px;
}

.tabOuter .tabInner .tabList .tabItem {
	position:relative;
	z-index:10;
	float:left;
	margin-right:-1px;
	background:url(images/tabpanel_blockA01_bg_05.gif) 0 .5em no-repeat;
}

.tabOuter .tabInner .tabList .tabItem a,
.tabOuter .tabInner .tabList .tabItem em {
	line-height:2;
}

.tabOuter .tabInner .tabList .tabItem a {
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
	padding:4px 10px 5px;
}

.tabOuter .tabInner .tabList .active {
	background:0 0;
	border:1px solid #ccc;
	border-bottom:1px solid #fff;
}

.tabOuter .tabInner .tabList .active em {
	position:relative;
	z-index:11;
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
	margin:-1px 0 0 -1px;
	_left:-1px;
	background:url(images/tabpanel_blockA01_bg_03.gif) 0 0 no-repeat;
}

.tabOuter .tabInner .tabList .active em span {
	position:relative;
	z-index:12;
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
	margin:0 -1px 0 0;
	padding:4px 10px 5px;
	background:url(images/tabpanel_blockA01_bg_04.gif) 100% 0 no-repeat;
}

