/* searchbox.css */

body div.search-block {
	padding: 10px;
	margin-top: 16px;
	border: 1px solid #B3CCED;
	background-color: #f0f5fc;
}

div.search-block input {
	vertical-align: top;
}

/*
input#keyword {
	width: 280px;
	margin-right: 4px;
}
*/

input#keyword {
	width: 280px;
	margin-right: 4px;
	padding-left: 4px;
	border-top:1px solid #d9d9d9;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #f2f2f2;
	border-bottom:1px solid #f2f2f2;
	background:url(images/header_bg_02.gif) left top repeat-x;
	height: 19px;
	/margin-top: -1px;
	/padding-top: 2px;
	padding-top: 2px\9;
	height: 17px\9;
	outline: none;
}

/* columnA01 opsSearchBox */
div.columnA01 {
	margin-top: 1.49em;
	border: 1px solid #b3cced;
	padding: 1px;
	_height: 1;
}
#headForm.formA01_01 .search {
	width: 100%;
	padding: 10px;
	text-align: left;
}
#headForm.formA01_01 .search p {
	display: inline-block;
	vertical-align: baseline;
	zoom: 1;
	margin: 0;
	padding: 0;
}
.opsSearchBox .opsKeyword {
	width: 280px;
	padding: 4px 4px;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.15)inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.15)inset;
	color: #333;
}
input.submit90D {
	height: 20px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0px;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	background-position: 0px -40px;
	width: 90px;
	color: #F5F5F5;
	background-image: url(images/button_dark_sprite.gif);
}

/* pseudo ::after */
.opsSearchBox .opsSearchBoxForm:after,
.suggestList .opsSuggestHeader:after,
.suggestList li a:after,
.suggestDetailList .opsSuggestHeader:after,
.suggestDetailList li a:after,
.opsSearchResult .opsSearchResultHeader:after,
.opsSearchResult .opsSearchResultFooter:after,
.opsSearchResultTable .opsColDescription:after,
.opsSearchResultTable .opsColDescription .opsColDescriptionInner:after,
.opsSearchResultTable .opsColDownload ul:after,
#headForm.formA01_01 .search:after,
.tabOuter .tabInner .tabList:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

