/* --------------------------------------------------------------------- */
/* common */

#sysmac {
	width:684px;
}

#sysmac * {
	/*font-size:12px;*/
	color:#4a4a4a;
	margin:0;
	padding:0;
	line-height:150%;
	/*letter-spacing:0.1em;*/
}

#sysmac h1,
#sysmac h2,
#sysmac h3,
#sysmac h4,
#sysmac h5 {
	letter-spacing:normal;
}

#sysmac img {
	border:0;
	vertical-align:bottom;
}

#sysmac ul {
	list-style:none;
}

#sysmac li {
	line-height:110%;
}


#sysmac div.trademark {
	margin:1em 0 0 1em;
	font-size:80%;
}


/* --------------------------------------------------------------------- */
/* Title Banner */

#sysmac .ttl-bnr{
	margin-bottom:10px;
	background-color:#31486d;
	text-align:right;
}


/* --------------------------------------------------------------------- */
/* Page Navi */

#sysmac .pagenavi{
	background-image: url(../../images/bg_pagenavi.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width:684px;
	height:42px;
}

#sysmac .pagenavi li{
	float:left;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
}

#sysmac .pagenavi li a{
	width:164px;
	height:42px;
	display:block;
	line-height:42px;
	vertical-align:42px;
	font-size:16px;
	letter-spacing:0.2px;
}

#sysmac .pagenavi li.page01 a{
	width:192px;
}

#sysmac .pagenavi li a:visited,
#sysmac .pagenavi li a:link{
	color:#ffffff;
	text-decoration:none;
}

#sysmac .pagenavi li a:hover{
	color:#ffffff;
	text-decoration:none;
}

#sysmac .pagenavi li.page01 a.active,
#sysmac .pagenavi li.page01 a:hover{
	background-image: url(../../images/bg_pagenavi.gif);
	background-position:0 -42px;
}

#sysmac .pagenavi li.page02 a.active,
#sysmac .pagenavi li.page02 a:hover{
	background-image: url(../../images/bg_pagenavi.gif);
	background-position:-192px -42px;
}

#sysmac .pagenavi li.page03 a.active,
#sysmac .pagenavi li.page03 a:hover{
	background-image: url(../../images/bg_pagenavi.gif);
	background-position:-356px -42px;
}

#sysmac .pagenavi li.page04 a.active,
#sysmac .pagenavi li.page04 a:hover{
	background-image: url(../../images/bg_pagenavi.gif);
	background-position:-520px -42px;
}


/* --------------------------------------------------------------------- */
/* Global Navi */

#sysmac .globalnavi{
	position:relative;
}

#sysmac .globalnavi p.control{
	border-top:1px solid #8e8e96;
	padding:1px 5px 0px 5px;
	position:absolute;
	top: 44px;
	left: 14px;
}

#sysmac .globalnavi p.connection{
	border-top:1px solid #8e8e96;
	padding:1px 5px 0px 5px;
	position:absolute;
	top: 197px;
	left: 12px;
}

#sysmac .globalnavi p.software{
	border-top:1px solid #8e8e96;
	padding:1px 5px 0px 5px;
	position:absolute;
	top: 42px;
	left: 420px;
	line-height:120%;
}

#sysmac .globalnavi p.family{
	border-top:1px solid #8e8e96;
	padding:1px 5px 0px 5px;
	position:absolute;
	top: 44px;
	left: 9px;
}


/* --------------------------------------------------------------------- */
/* comment */

#sysmac .comment{
	background-image: url(../../images/box_comment.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top:15px;
	margin-bottom:25px;
}

#sysmac .comment-inner{
	background-image: url(../../images/box_comment.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom:15px;
}

#sysmac .comment-inner p{
	background-image: url(../../images/comment_center.gif);
	background-repeat: repeat-y;
	background-position: left top;
	color:#ffffff;
	padding:5px 20px 5px;
}


/* --------------------------------------------------------------------- */
/* specs */

#sysmac .point-left{
	float:left;
	width:320px;
	margin: 0 0 25px 12px;
	display: inline;
}

#sysmac .point-right{
	float:right;
	width:320px;
	margin: 0 12px 25px 0;
	display: inline;
}

#sysmac .point-left h3,
#sysmac .point-right h3{
	background-color:#dcdfe4;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #455979;
	padding:6px 0 2px 5px;
	font-size:16px;
	font-weight:bold;
	color:#455979;
	line-height:110%;
	margin:0 0 7px 0;
}

#sysmac h3.ttl-point{
	height:34px;
	line-height:34px;
}

#sysmac .point-left li,
#sysmac .point-right li{
	padding:0 0 0 8px;
	margin:0 0 7px 3px;
	background-image: url(../../images/arw_list.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
	line-height:120%;
}


/* --------------------------------------------------------------------- */
/* section */

#sysmac .section{
	background-image: url(../../images/box_element.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom:20px;
	clear:both;
}

#sysmac .section-family{
	background-image: url(../../images/box_family.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom:20px;
	clear:both;
}


#sysmac .section-inner{
	background-image: url(../../images/box_family.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom:15px;
}

#sysmac .section-inner div.bg-box{
	background-image: url(../../images/family_center.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}

#sysmac .section-inner p{
	padding:0 20px 15px;
}

#sysmac .section h4{
	padding:7px 0 20px 0;
	font-size:16px;
	font-weight:bold;
	color:#455979;
	text-align:center;
	margin:0;
	background-image: url(../../images/bar.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}

#sysmac .section h5{
	/*background-image: url(../../images/line.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding:0 0 0 15px;*/
	
	padding:0 0 0 0px;
	font-size: 16px;
	font-weight: bold;
	color:#455979;
}


/* --------------------------------------------------------------------- */
/* other */

#sysmac .attention{
	font-size:10px;
	text-align:right;
	clear:both;
	margin:0 10px 15px 0;
}

#sysmac .fLeft{
	float:left;
	margin:0 0 0 15px;
	display: inline;
}

#sysmac .w180{
	width:180px;
}

#sysmac .w350{
	width:350px;
}

#sysmac .w380{
	width:380px;
}

#sysmac .w400{
	width:400px;
}

#sysmac .w450{
	width:450px;
}

#sysmac .fLeft p.small{
	font-size:80%;
	margin:0.5em 0 0 0;
}

#sysmac .fRight{
	float:right;
	margin:0 0 0 35px;
	padding:0;
	display: inline;
}


/* software
------------------------------------------------*/
#sysmac .li-height02{
	height:116px;
}

#sysmac .box-software{
	width:636px;
	margin:0 auto 15px;
}

#sysmac .box-software p{
	padding:0;
	margin:0 0 10px 0;
}

#sysmac .box-software .fLeft{
	float:left;
	margin:0 0 0 15px;
	display: inline;
	width:300px;
}

#sysmac .box-software .fRight{
	float:right;
	margin:0 0 0 35px;
	padding:0;
	display: inline;
}

#sysmac .box-software ul{
	margin:0 0 10px 0;
}

#sysmac .box-software li{
	padding:0 0 0 10px;
	margin:0 0 7px 0;
	background-image: url(../../images/mark_list.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
	line-height:120%;
}


/* connection
------------------------------------------------*/
#sysmac .li-height{
	height:167px;
}

#sysmac .list-box{
	padding:3px;
	margin:0 auto 20px;
	border: 1px solid #cecece;
	width:636px;
	background-image: url(../../images/bg_list.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#sysmac .list-box h5{
	padding:0 0 0 10px;
	margin:0 0 5px 0;
	border: 1px solid #cecece;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6079a2;
	background-image: none;
}

#sysmac .list-box li{
	padding:0 0 0 10px;
	margin:0 0 5px 5px;
	background-image: url(../../images/mark_list.gif);
	background-repeat: no-repeat;
	background-position: left center;
	line-height:160%;
}

#sysmac .img-connection{
	padding:120px 0 120px;
	margin:0 auto;
	width:650px;
	position:relative;
}

#sysmac .img-connection p{
	margin:0;
	padding:0;
}

#sysmac .img-connection div{
	margin:0;
	padding:0;
	width:305px;
}

#sysmac .img-connection .text-section01{
	position:absolute;
	left: 13px;
	top: 0px;
}

#sysmac .img-connection .text-section02{
	position:absolute;
	left: 341px;
	top: 0px;
}

#sysmac .img-connection .text-section03{
	position:absolute;
	left: 12px;
	top: 119px;
}

#sysmac .img-connection .text-section04{
	position:absolute;
	left: 12px;
	top: 472px;
}

#sysmac .img-connection .text-section05{
	position:absolute;
	left: 341px;
	top: 415px;
}


/* family
------------------------------------------------*/
#sysmac #menu{
	background-image: url(../../images/bar.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height:70px;
	padding: 10px 0 0 0;
	margin:0 0 15px 25px;
}

#sysmac #menu li{
	float:left;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin:0 11px 0 0;
}

#sysmac #menu li a{
	color:#455979;
	text-decoration:none;
	display:block;
	padding:2px 10px;
	letter-spacing:normal;
}

#sysmac #menu li a:hover{
	color:#455979;
	text-decoration:underline;
	background-color:#d3dae5;
}

#sysmac .servos-bottom{
	clear:both;
	padding:25px 0 0 0;
}

#sysmac #fa01 h3,
#sysmac #fa02 h3,
#sysmac #fa03 h3,
#sysmac #fa04 h3,
#sysmac #fa05 h3,
#sysmac #fa06 h3,
#sysmac #fa07 h3{
	/*background-image: url(../../images/line.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding:0 0 0 13px;*/
	padding:0 0 0 0px;
	font-size: 16px;
	font-weight: bold;
	color:#455979;
}

#sysmac #fa01 ul,
#sysmac #fa02 ul,
#sysmac #fa03 ul,
#sysmac #fa04 ul,
#sysmac #fa05 ul,
#sysmac #fa06 ul,
#sysmac #fa07 ul{
	padding:0;
	margin:0 0 12px 0;
}

#sysmac #fa01 li,
#sysmac #fa02 li,
#sysmac #fa03 li,
#sysmac #fa04 li,
#sysmac #fa05 li,
#sysmac #fa06 li,
#sysmac #fa07 li{
	background-image: url(../../images/mark_list.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
	padding:0 0 0 10px;
	margin:0 0 7px 0;
}

#sysmac #fa01 p,
#sysmac #fa02 p,
#sysmac #fa03 p,
#sysmac #fa04 p,
#sysmac #fa05 p,
#sysmac #fa06 p,
#sysmac #fa07 p{
	padding:0;
}




/* right-nav
------------------------------------------------*/

.related-info-blockA01 h2.lvl01 img {
	margin:0 0 0 43px;
}

.related-info-blockA01 .icon-member {
	margin:0 0 7px 17px;
}














/*-----------------------------------------------------
CLEARFIX
-------------------------------------------------------*/
/* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*-----------------------------------------------------
20111107 G-site
-------------------------------------------------------*/
#sysmac img.iconA01 {
	line-height:150%;
	margin-right:3px;
	vertical-align: middle;
}
#sysmac a img {
	border: medium none;
}
#sysmac .comment-nobg {
	margin:10px 2em 0 25px;
}
#sysmac .comment-nobg p {
	padding-top:10px;
	line-height:150%;
}



/* box */
#sysmac .box01 {
	margin:10px 0 0 0;
	padding:10px;
	border: 1px solid #d3dae5;
	background-color:#ebeef3;
}
#sysmac h3.gray { font-size:15px!important; color: #4A4A4A!important; margin-bottom:10px; }