/*
upper_content.css
*/


/* contents-area */
body.tmplA01 div.contents-area {
	width: 918px;
	margin-right: 18px;
	margin-left: 18px;
}
div.contents-area {
	_overflow: visible;
	_height: 1px;
	zoom: 1;
	width: px;
}
div.contents-area:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* primary-contents-area */
body.tmplA01 div.primary-contents-area {
	width: 684px;
	float: left;
	line-height: 1.4;
	color: #555;
	font-family: 'Arial'
	font-size: 12px;
	_font-size: 75%;
	color: #555;
}
div.primary-contents-area * {
	margin: 0;
	padding: 0;
	_behavior: url(/css/cssSupport.htc);
}
div.primary-contents-area h1,
div.primary-contents-area h2,
div.primary-contents-area h3,
div.primary-contents-area h4,
div.primary-contents-area h5,
div.primary-contents-area h6 {
	font-size: 100%;
	font-weight: bold;
}

/* link */
div.primary-contents-area a:visited {
	text-decoration: underline;
	color: #868fca;
}
div.primary-contents-area a:link {
	text-decoration: underline;
	color: #1a66ca;
}

/* heading-lvl01A01 */
div.heading-lvl01A01 {
	min-height: 64px !important;
	_height: 64px !important;
	padding: 0 10px 0 10px !important;
	border-top: 3px solid #0055c4;
	border-bottom: 1px solid #e5e5e5;
	background: url(images/heading_bg_01.gif) left bottom repeat-x;
	line-height: 1.1 !important;
}
div.heading-lvl01A01 h1 {
	font-size: 166% !important;
	margin-top: 1.6em !important;
	margin-bottom: 0.4em !important;
	text-align: left;
}

