

/*------------------------------------
	local-naviA01
------------------------------------*/

div.local-naviA01{
	margin-bottom:1.49em;
	border:1px solid #ccc;
}


/*h2*/

div.local-naviA01 h2{
	background-color:#f5f5f5;
	font-weight:bold;
}

div.local-naviA01 h2 a{
	display:block;
	padding:0.6em 9px 0.6em 16px;
	text-indent:-6px;
	border-bottom:3px solid #0055c4;
}

div.local-naviA01 h2.stay{
	padding:0.6em 9px 0.6em 16px;
	border-bottom:3px solid #0055c4;
}


/*anchor*/

div.local-naviA01 h2 a:link{
	text-decoration:none;
	color:#555;
}
div.local-naviA01 h2 a:visited{
	text-decoration:none;
	color:#808080;
}
div.local-naviA01 h2 a:link:hover,
div.local-naviA01 h2 a:visited:hover,
div.local-naviA01 h2 a:link:active,
div.local-naviA01 h2 a:visited:active,
div.local-naviA01 h2 a:link:focus,
div.local-naviA01 h2 a:visited:focus{
	text-decoration:underline;
	color:#3b3b3b;
}


div.local-naviA01 h2 a:link{
	_text-decoration:none;
}
div.local-naviA01 h2 a:visited{
	_text-decoration:none;
}
div.local-naviA01 h2 a:hover,
div.local-naviA01 h2 a:active{
	_text-decoration:underline;
}





/*ul*/

div.local-naviA01 ul{
	list-style-type:none;
}

div.local-naviA01 ul li,
div.local-naviA01 ul ul li:first-child,
div.local-naviA01 ul ul li.first-child{
	border-top:1px solid #e5e5e5;
}

div.local-naviA01 ul li:first-child,
div.local-naviA01 ul li.first-child{
	border-top:0px none;
}

div.local-naviA01 ul em.stay-cat,
div.local-naviA01 ul a{
	display:block;
	padding:0.6em 9px 0.6em 16px;
	text-indent:-6px;
	zoom:1;
	_height:1;
}

div.local-naviA01 ul ul em.stay-cat,
div.local-naviA01 ul ul a{
	padding-left:34px;
	text-indent:-6px;
}

div.local-naviA01 ul ul ul em.stay-cat,
div.local-naviA01 ul ul ul a{
	padding-left:52px;
	text-indent:-6px;
}

div.local-naviA01 ul ul ul ul em.stay-cat,
div.local-naviA01 ul ul ul ul a{
	padding-left:70px;
	text-indent:-6px;
}


/*stay*/

div.local-naviA01 ul li.stay{
	padding:0.6em 9px 0.6em 16px;
	background-color:#ebf2f9;
	font-weight:bold;
}

div.local-naviA01 ul ul li.stay{
	padding-left:34px;
}
div.local-naviA01 ul ul ul li.stay{
	padding-left:52px;
}

div.local-naviA01 ul ul ul ul li.stay{
	padding-left:70px;
}


div.local-naviA01 ul li.stay-link{
	background-color:#ebf2f9;
}

div.local-naviA01 ul li.stay-link a{
	font-weight:bold;
}

div.local-naviA01 ul li.stay-cat-link{
	font-weight:bold;
}

div.local-naviA01 ul li.stay-cat-link ul{
	font-weight:normal;
}


/*anchor*/

div.local-naviA01 a:link{
	text-decoration:none;
}
div.local-naviA01 a:visited{
	text-decoration:none;
}
div.local-naviA01 a:link:hover,
div.local-naviA01 a:visited:hover,
div.local-naviA01 a:link:active,
div.local-naviA01 a:visited:active,
div.local-naviA01 a:link:focus,
div.local-naviA01 a:visited:focus{
	text-decoration:underline;
}


div.local-naviA01 a:link{
	_text-decoration:none;
}
div.local-naviA01 a:visited{
	_text-decoration:none;
}
div.local-naviA01 a:hover,
div.local-naviA01 a:active{
	_text-decoration:underline;
}



/*------------------------------------
	local-naviB01
------------------------------------*/

div.local-naviB01{
	margin-bottom:1.49em;
	border:1px solid #ccc;
	background-color:#f5f5f5;
	font-weight:bold;
}

div.local-naviB01 ul{
	list-style-type:none;
}

div.local-naviB01 ul li{
	border-top:1px solid #e5e5e5;
}

div.local-naviB01 ul li:first-child,
div.local-naviB01 ul li.first-child{
	border-top:0px none;
}

div.local-naviB01 ul a{
	display:block;
	padding:0.6em 9px 0.6em 16px;
	text-indent:-6px;
	zoom:1;
	_height:1;
}


/*stay*/

div.local-naviB01 ul li.stay{
	background:#ccc url('/img/local_naviB01_bg_stay.gif') repeat-x left bottom;; padding-left:16px; padding-right:9px; padding-top:0.6em; padding-bottom:0.6em
}

div.local-naviB01 ul li.stay strong{
	color:#555;
}




/*anchor*/

div.local-naviB01 a:link{
	text-decoration:none;
	color:#555;
}
div.local-naviB01 a:visited{
	text-decoration:none;
	color:#808080;
}
div.local-naviB01 a:link:hover,
div.local-naviB01 a:visited:hover,
div.local-naviB01 a:link:active,
div.local-naviB01 a:visited:active,
div.local-naviB01 a:link:focus,
div.local-naviB01 a:visited:focus{
	text-decoration:underline;
	color:#3b3b3b;
}



div.local-naviB01 a:link{
	_text-decoration:none;
}
div.local-naviB01 a:visited{
	_text-decoration:none;
}
div.local-naviB01 a:hover,
div.local-naviB01 a:active{
	_text-decoration:underline;
}


div.local-naviA01 ul li strong,
div.local-naviB01 ul li strong{
	color:#555;
}


