/* Main */
#menu1{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #79B96F;
	background: -moz-linear-gradient(#79B96F, #79B96F); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #79B96F),color-stop(1, #79B96F));	
	background: -webkit-linear-gradient(#79B96F, #79B96F);	
	background: -o-linear-gradient(#79B96F, #79B96F);
	background: -ms-linear-gradient(#79B96F, #79B96F);
	background: linear-gradient(#79B96F, #79B96F);
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}

#menu1 li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu1 a{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #ECFFE7;
	font: bold 13px/25px Arial, Helvetica;
	text-decoration: none;
}

#menu1 li:hover > a{
	color: #fafafa;
}

*html #menu1 li a:hover{ /* IE6 */
	color: #fafafa;
}

#menu1 li:hover > ul{
	display: block;
}

/* Sub-menu1 */

#menu1 ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #52944A;
    background: -moz-linear-gradient(#52944A, #79B96F);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #79B96F),color-stop(1, #52944A));
    background: -webkit-linear-gradient(#52944A, #79B96F);    
    background: -o-linear-gradient(#52944A, #79B96F);	
    background: -ms-linear-gradient(#52944A, #79B96F);	
    background: linear-gradient(#52944A, #79B96F);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu1 ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #79B96F, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #79B96F, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #79B96F, 0 2px 0 #777777;
}

#menu1 ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu1 ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu1 ul a{ /* IE6 */   
	height: 10px;
	width: 170px;
}

*:first-child+html #menu1 ul a{ /* IE7 */    
	height: 10px;
	width: 170px;
}

#menu1 ul a:hover{
        background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#menu1 ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu1 ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #52944A
}

#menu1 ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#menu1 ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu1:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0
}

* html #menu1             { zoom: 1; } /* IE6 */
*:first-child+html #menu1 { zoom: 1; } /* IE7 */