
img{
	max-width: 100%;
}
.top-page-link-area{
	margin-bottom: -15px
}
div.footer-area div.realizing {
    bottom: 20px;
}
div.header-area div.utilities div.function-area div.search form.search-form p input.search-str{
	height: 21px;
}
div.bread-crumb-area ul{
	margin: 4px 18px 10px;
}
div.bread-crumb-area ul li{
	font-size: 12px;
}
div.header-area{
	background: #fff;
}


.row{
	margin: 0 -15px;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
.row [class*="col-"]{
	padding: 0 15px;
	float: left;
}
.row .col-3{
	width: 33.33%;
}
.row .col-3:nth-child(3n+1){
	clear: left;
}
.row .col-6{
	width: 66.66%;
}
b{
	font-weight: bold;
}


.solution-page *, .solution-page *:after, .solution-page *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.solution-page{
	border-top: 3px solid #0055C4;
	padding: 40px 0 20px;
	margin: 0 20px;
	color: #555;
	font-size: 15px;
	line-height: 24px;
}
.solution-page p{
	margin: 0 0 30px;
}

.solution-page h1{
	font-family: Arial;	
	font-size: 24px;	
	font-weight: bold;	
	line-height: 28px;
	padding-bottom: 15px;
	padding-left: 25px;
	border-bottom: 1px solid #e2e2e2;
	margin: 0 0 30px;
}
.solution-page h2{
	font-size: 18px;
	line-height: 26px;
	margin: 0 0 20px;
}
.solution-page .item{
	margin: 0 0 30px;
	position: relative;
}
.solution-page .item .tag{
	color: #fff;
	line-height: 25px;	
	width: 55px;	
	border-radius: 16px;	
	background-color: #0055c4;	
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	font-size: 12px;
	font-weight: bold;
	padding: 0 13px;
	position: absolute;
	top: -11px;
	right: 33px;
	animation-name: blink;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
@keyframes blink {
    0% {background-color: #0055c4;}
    50% {background-color: #4a86d5;}
    100% {background-color: #0055c4;}
}

.solution-page a.title{
	display: block;
	margin: 22px 0 15px;
	font-size: 15px;	
	font-weight: bold;	
	line-height: 24px;
	color: #555555;
}
.solution-page a.title:hover{
	color: #0055c4;
}
.solution-page article{
	padding: 0 25px 0 20px;
	border-bottom: 1px solid #E5E5E5;
}
.solution-page article p{
	font-size: 13px;
	line-height: 22px;
}
.solution-page .link{
	color: #0055c4;
	display: block;
	text-align: right;
	padding: 15px 45px 15px 15px;
	line-height: 17px;
	position: relative;
	font-size: 13px;
}
.solution-page .link:after{
	content: "";
	width: 0;
	height: 0;
	border-left: 5px solid #0055c4;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	position: absolute;
	top: calc(50% - 5px);
	right: 27px;
}
.solution-page .link:hover{
	color: #555;
}
.solution-page .link:hover:after{
	border-left-color: #555;
}
